// All colors are defined here

$text-color-light: rgb(117, 113, 113);
$text-color-dark: rgb(63, 61, 61);
$home-background: #efefef;
$error-color: rgb(255, 0, 0);
$theme: #ff9900;
$card-color: #fff;
$submit-green: #00a400;
$submit-green-hover: #008000;

// Exported to be used in React components
:export {
    textColorLight: $text-color-light;
    textColorDark: $text-color-dark;
    homeBackground: $home-background;
    submitGreen: $submit-green;
    submitGreenHover: $submit-green-hover;
    errorColor: $error-color;
    cardColor: $card-color;
    theme: $theme;
}