$font-main: 'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
$large-font-size: 1.5rem;
$medium-font-size: 1.25rem;
$small-font-size: 1rem;

:export {
    fontMain: $font-main;
    largeFontSize: $large-font-size;
    mediumFontSize: $medium-font-size;
    smallFontSize: $small-font-size;
}