@import "styles";

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $home-background;

    .body-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
}
